In [2]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage.csv',
                 low_memory=False
                )

In [3]:
len(df) - df.count()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [4]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [5]:
df_clean = df.dropna()
df_clean.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [6]:
len(df) - len(df_clean)

78452

In [7]:
df_clean.to_csv('../data/Library_Usage_Clean.csv', index=False)

In [8]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False