In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv",
                 low_memory=False
                )
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [2]:
df['Year Patron Registered'].value_counts(normalize=True)

2022    0.119583
2019    0.101515
2003    0.094052
2021    0.074799
2020    0.073369
2017    0.067203
2018    0.065603
2023    0.060249
2016    0.049781
2015    0.046201
2014    0.036593
2013    0.030553
2012    0.029066
2011    0.028348
2009    0.026109
2010    0.025779
2008    0.023154
2007    0.014862
2006    0.012042
2005    0.010910
2004    0.010229
Name: Year Patron Registered, dtype: float64

In [3]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.212847
35 to 44 years       0.187697
10 to 19 years       0.153561
45 to 54 years       0.110982
0 to 9 years         0.075089
65 to 74 years       0.072842
20 to 24 years       0.058296
75 years and over    0.044322
55 to 59 years       0.043815
60 to 64 years       0.040549
Name: Age Range, dtype: float64

In [4]:
df['Age Range'].isna().sum()

912

In [5]:
age_range_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_range_mode, inplace=True)

In [6]:
df['Age Range'].isna().sum()

0

In [7]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.214493
35 to 44 years       0.187304
10 to 19 years       0.153240
45 to 54 years       0.110750
0 to 9 years         0.074932
65 to 74 years       0.072690
20 to 24 years       0.058175
75 years and over    0.044230
55 to 59 years       0.043723
60 to 64 years       0.040464
Name: Age Range, dtype: float64

In [8]:
df['Total Renewals'].agg(lambda x: x.std()/x.mean())

3.8881000004302892

In [9]:
df['Total Renewals'].std()/df['Total Renewals'].mean()

3.8881000004302892