In [72]:
import pandas as pd

In [73]:
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory = False)

In [74]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [75]:
df.isnull().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436290 entries, 0 to 436289
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              436290 non-null  int64
 1   Patron Type Definition        436290 non-null  object
 2   Total Checkouts               436290 non-null  int64
 3   Total Renewals                436290 non-null  int64
 4   Age Range                     435378 non-null  object
 5   Home Library Code             436288 non-null  object
 6   Home Library Definition       436260 non-null  object
 7   Circulation Active Month      396777 non-null  object
 8   Circulation Active Year       396777 non-null  float64
 9   Notice Preference Code        393301 non-null  object
 10  Notice Preference Definition  393301 non-null  object
 11  Provided Email Address        436290 non-null  bool
 12  Year Patron Registered        436290 non-null  int64
 13  Within San Francisco County   435083 non-null  object
dtypes: bool(1), float64(1), int64(4), object(8)
memory usage: 43.7+ MB

In [77]:
df.dropna()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False

In [78]:
df_clean = df.dropna()

In [79]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False

In [80]:
df_clean.isnull().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [81]:
df_clean.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Year,Year Patron Registered
count,357838.000000,357838.000000,357838.000000,357838.000000,357838.000000
mean,0.931354,167.175649,86.875354,2022.225239,2015.149308
std,3.148419,518.126744,313.978867,1.305012,6.146489
min,0.000000,0.000000,0.000000,2004.000000,2003.000000
25%,0.000000,0.000000,0.000000,2022.000000,2011.000000
50%,0.000000,11.000000,6.000000,2023.000000,2017.000000
75%,1.000000,96.000000,45.000000,2023.000000,2020.000000
max,104.000000,37249.000000,11921.000000,2023.000000,2023.000000

In [82]:
df_clean.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [104]:
pd.to_numeric(
  df_clean['Circulation Active Year'], errors='coerce'
)

2         2023.0
5         2023.0
6         2023.0
7         2023.0
9         2023.0
           ...
435078    2023.0
435079    2023.0
435080    2019.0
435081    2022.0
435082    2023.0
Name: Circulation Active Year, Length: 357838, dtype: float64

In [105]:
pd.to_numeric(
  df_clean['Year Patron Registered'], errors='coerce'
)

2         2011
5         2003
6         2003
7         2005
9         2016
          ...
435078    2022
435079    2010
435080    2008
435081    2016
435082    2015
Name: Year Patron Registered, Length: 357838, dtype: int64

In [113]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,-12.0
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False,-20.0
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False,-20.0
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False,-18.0
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False,-1.0
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False,-13.0
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False,-11.0
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False,-6.0
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False,-8.0

In [114]:
df_clean['Membership Duration'] = (
    df_clean['Circulation Active Year']-df_clean['Year Patron Registered']
)

/tmp/ipykernel_13163/3659887316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Membership Duration'] = (

In [115]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,12.0
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False,20.0
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False,20.0
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False,18.0
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False,1.0
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False,13.0
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False,11.0
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False,6.0
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False,8.0