# Como abrir uma tabela em csv usando o pandas:

In [28]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

/tmp/ipykernel_9165/1714274953.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

# Como transformar um arquivo csv em uma arquivo json: df.to_json

In [5]:
df.to_json("../data/Library_Usage.json")

In [6]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [7]:
pd.to_numeric

<function pandas.core.tools.numeric.to_numeric(arg, errors: 'DateTimeErrorChoices' = 'raise', downcast: "Literal[('integer', 'signed', 'unsigned', 'float')] | None" = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>)>

In [8]:
pd.crosstab

<function pandas.core.reshape.pivot.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins: 'bool' = False, margins_name: 'Hashable' = 'All', dropna: 'bool' = True, normalize: 'bool' = False) -> 'DataFrame'>

In [45]:
df = pd.read_csv("../data/Library_Usage_Small.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True

In [46]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [47]:
df.to_json("../data/Library_Usage_Small.json")

In [48]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [49]:
df.to_html("../data/Library_Usage_Small.html")

In [50]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [36]:
df = pd.read_html("../data/Library_Usage_Small.html")
df

[   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
 0           0                 1               Juvenile                0
 1           1                 2                   Teen                0
 2           2                 0                  Adult                0
 3           3                 2                   Teen                0
 4           4                 2                   Teen                0
 5           5                 2                   Teen                0
 6           6                 2                   Teen                0
 7           7                 2                   Teen                0
 8           8                 0                  Adult                0
 9           9                 2                   Teen                0

    Total Renewals       Age Range Home Library Code Home Library Definition  \
 0               0    0 to 9 years                r3                Richmond
 1               0  10 to 19 years                 x                    Main
 2               0  35 to 44 years                m4                  Merced
 3               0  10 to 19 years                 x                    Main
 4               0  10 to 19 years                b2                 Bayview
 5               0  10 to 19 years                 x                    Main
 6               0  10 to 19 years                 x                    Main
 7               0  10 to 19 years                 x                    Main
 8               0  35 to 44 years                 x                    Main
 9               0  10 to 19 years                 x                    Main

    Circulation Active Month  Circulation Active Year Notice Preference Code  \
 0                       NaN                      NaN                      z
 1                       NaN                      NaN                      z
 2                       NaN                      NaN                      z
 3                       NaN                      NaN                      z
 4                       NaN                      NaN                      z
 5                       NaN                      NaN                      z
 6                       NaN                      NaN                      z
 7                       NaN                      NaN                      z
 8                       NaN                      NaN                      z
 9                       NaN                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [51]:
df.to_excel("../data/Library_Usage_Small.xlsx")

In [52]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [53]:
df.to_csv("../data/Library_Usage_Small1.csv")

In [54]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [55]:
df.memory_usage()

Index                           128
Patron Type Code                 80
Patron Type Definition           80
Total Checkouts                  80
Total Renewals                   80
Age Range                        80
Home Library Code                80
Home Library Definition          80
Circulation Active Month         80
Circulation Active Year          80
Notice Preference Code           80
Notice Preference Definition     80
Provided Email Address           10
Year Patron Registered           80
Within San Francisco County      10
dtype: int64

In [59]:
df.memory_usage(deep=True)

Index                           128
Patron Type Code                 80
Patron Type Definition          616
Total Checkouts                  80
Total Renewals                   80
Age Range                       708
Home Library Code               583
Home Library Definition         619
Circulation Active Month         80
Circulation Active Year          80
Notice Preference Code          580
Notice Preference Definition    620
Provided Email Address           10
Year Patron Registered           80
Within San Francisco County      10
dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patron Type Code              10 non-null     int64
 1   Patron Type Definition        10 non-null     object
 2   Total Checkouts               10 non-null     int64
 3   Total Renewals                10 non-null     int64
 4   Age Range                     10 non-null     object
 5   Home Library Code             10 non-null     object
 6   Home Library Definition       10 non-null     object
 7   Circulation Active Month      0 non-null      float64
 8   Circulation Active Year       0 non-null      float64
 9   Notice Preference Code        10 non-null     object
 10  Notice Preference Definition  10 non-null     object
 11  Provided Email Address        10 non-null     bool
 12  Year Patron Registered        10 non-null     int64
 13  Within San Francisco County   10 non-null     bool
dtypes: bool(2), float64(2), int64(4), object(6)
memory usage: 1.1+ KB

In [91]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436290 entries, 0 to 436289
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              436290 non-null  int64
 1   Patron Type Definition        436290 non-null  object
 2   Total Checkouts               436290 non-null  int64
 3   Total Renewals                436290 non-null  int64
 4   Age Range                     435378 non-null  object
 5   Home Library Code             436288 non-null  object
 6   Home Library Definition       436260 non-null  object
 7   Circulation Active Month      396777 non-null  object
 8   Circulation Active Year       396777 non-null  float64
 9   Notice Preference Code        393301 non-null  object
 10  Notice Preference Definition  393301 non-null  object
 11  Provided Email Address        436290 non-null  bool
 12  Year Patron Registered        436290 non-null  int64
 13  Within San Francisco County   435083 non-null  object
 14  is_adult                      436290 non-null  bool
 15  log_renewals                  436290 non-null  float64
dtypes: bool(2), float64(2), int64(4), object(8)
memory usage: 212.3 MB

In [69]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

/tmp/ipykernel_9165/226503331.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [70]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0           15
1          378
2           33
3         2140
4         1035
          ...
436285       6
436286       0
436287       0
436288       0
436289     101
Name: Total Renewals, Length: 436290, dtype: int64
        Total Renewals  Total Checkouts
0                   15               53
1                  378              480
2                   33               70
3                 2140             3934
4                 1035             1118
...                ...              ...
436285               6                2
436286               0                3
436287               0                6
436288               0                4
436289             101              309

[436290 rows x 2 columns]

# 2.5 Fallstudie: Feature Engineering

In [158]:
import pandas as pd
df = pd.read_json("../data/Library_Usage.json")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,None,b2,Bayview,Mar,2023.0,z,Email,True,2003,0.0
1,5,Staff,480,378,None,e9,Excelsior,Jun,2023.0,z,Email,True,2003,0.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,0.0
3,5,Staff,3934,2140,None,o2,Ocean View,Jul,2023.0,z,Email,True,2003,0.0
4,5,Staff,1118,1035,None,o7,Ortega,Jul,2023.0,z,Email,True,2003,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [160]:
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [161]:
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [162]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
df['Circulation Active Month']

0        1900-03-01
1        1900-06-01
2        1900-01-01
3        1900-07-01
4        1900-07-01
            ...
436285   1900-10-01
436286   1900-11-01
436287   1900-03-01
436288   1900-09-01
436289   1900-07-01
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [163]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0          3.0
1          6.0
2          1.0
3          7.0
4          7.0
          ...
436285    10.0
436286    11.0
436287     3.0
436288     9.0
436289     7.0
Name: Circulation Active Month, Length: 436290, dtype: float64

In [164]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,None,b2,Bayview,3.0,2023.0,z,Email,True,2003,0.0
1,5,Staff,480,378,None,e9,Excelsior,6.0,2023.0,z,Email,True,2003,0.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,z,Email,True,2011,0.0
3,5,Staff,3934,2140,None,o2,Ocean View,7.0,2023.0,z,Email,True,2003,0.0
4,5,Staff,1118,1035,None,o7,Ortega,7.0,2023.0,z,Email,True,2003,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,10.0,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,11.0,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,3.0,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,9.0,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,7.0,2023.0,z,Email,True,2003,NaN

In [165]:
df['Year Patron Registered']

0         2003
1         2003
2         2011
3         2003
4         2003
          ...
436285    2020
436286    2011
436287    2022
436288    2019
436289    2003
Name: Year Patron Registered, Length: 436290, dtype: int64

In [166]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])

In [167]:
df['Membership Duration']

0         20.0
1         20.0
2         12.0
3         20.0
4         20.0
          ...
436285     2.0
436286     4.0
436287     0.0
436288     1.0
436289    20.0
Name: Membership Duration, Length: 436290, dtype: float64

In [168]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [169]:
df['Membership Duration']

0         243.0
1         246.0
2         145.0
3         247.0
4         247.0
          ...
436285     34.0
436286     59.0
436287      3.0
436288     21.0
436289    247.0
Name: Membership Duration, Length: 436290, dtype: float64

In [170]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,5,Staff,53,15,None,b2,Bayview,3.0,2023.0,z,Email,True,2003,0.0,243.0
1,5,Staff,480,378,None,e9,Excelsior,6.0,2023.0,z,Email,True,2003,0.0,246.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,z,Email,True,2011,0.0,145.0
3,5,Staff,3934,2140,None,o2,Ocean View,7.0,2023.0,z,Email,True,2003,0.0,247.0
4,5,Staff,1118,1035,None,o7,Ortega,7.0,2023.0,z,Email,True,2003,0.0,247.0

In [188]:
df.to_csv('../data/Library_Usage_Membership.csv', index=False)

In [171]:
df['Membership Duration'].fillna(0)

0         243.0
1         246.0
2         145.0
3         247.0
4         247.0
          ...
436285     34.0
436286     59.0
436287      3.0
436288     21.0
436289    247.0
Name: Membership Duration, Length: 436290, dtype: float64

# Como limpar tabelas de dados que nao interessam, com Funktionen isna(), notna(), dropna() und fillna() an um fehlende Werte zu identifizieren, zu entfernen oder mit anderen Werten zu ersetzen.

In [174]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage.csv',
                 low_memory=False
                )

In [178]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [179]:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [180]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [181]:
len(df) - df.count()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [182]:
df_clean = df.dropna()
df_clean.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [183]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False

In [184]:
len(df) - len(df_clean)

78452

In [185]:
df_clean.to_csv('../data/Library_Usage_Clean.csv', index=False)

In [186]:
!head "../data/Library_Usage_Clean.csv"

Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
5,Staff,146,259,60 to 64 years,x,Main,Jul,2023.0,z,Email,True,2008,False
5,Staff,363,213,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,670,391,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,762,563,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [187]:
!head -n 1 "../data/Library_Usage_Clean.csv"

Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County

In [190]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage.csv',
                 low_memory=False
                )
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [191]:
df.tail()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436290 entries, 0 to 436289
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              436290 non-null  int64
 1   Patron Type Definition        436290 non-null  object
 2   Total Checkouts               436290 non-null  int64
 3   Total Renewals                436290 non-null  int64
 4   Age Range                     435378 non-null  object
 5   Home Library Code             436288 non-null  object
 6   Home Library Definition       436260 non-null  object
 7   Circulation Active Month      396777 non-null  object
 8   Circulation Active Year       396777 non-null  float64
 9   Notice Preference Code        393301 non-null  object
 10  Notice Preference Definition  393301 non-null  object
 11  Provided Email Address        436290 non-null  bool
 12  Year Patron Registered        436290 non-null  int64
 13  Within San Francisco County   435083 non-null  object
dtypes: bool(1), float64(1), int64(4), object(8)
memory usage: 43.7+ MB

In [193]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,436290.000000,436290,436290.000000,436290.000000,435378,436288,436260,396777,396777.000000,393301,393301,436290,436290.000000,435083
unique,NaN,17,NaN,NaN,10,75,29,12,NaN,1,1,2,NaN,1
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,Jul,NaN,z,Email,True,NaN,False
freq,NaN,274682,NaN,NaN,92669,141878,142000,149494,NaN,393301,393301,393301,NaN,435083
mean,1.081295,NaN,160.294843,78.317546,NaN,NaN,NaN,NaN,2022.170698,NaN,NaN,NaN,2015.598327,NaN
std,3.383103,NaN,537.923680,304.506449,NaN,NaN,NaN,NaN,1.358145,NaN,NaN,NaN,6.148953,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,2003.000000,NaN
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,2012.000000,NaN
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2017.000000,NaN
75%,1.000000,NaN,78.000000,35.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2021.000000,NaN
max,104.000000,NaN,45380.000000,11921.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2023.000000,NaN

In [194]:
print(df.min())
print(df['Total Renewals'].min())

TypeError: '<=' not supported between instances of 'float' and 'str'

In [195]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

24595

In [196]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [197]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year         float64
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Within San Francisco County      object
dtype: object

In [198]:
df.shape

(436290, 14)

In [201]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False)
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [221]:
df['Patron Type Definition'].unique()

array(['Staff', 'Welcome', 'Visitor', 'Digital Access Card', 'Juvenile',
       'Senior', 'Adult', 'Teen', 'Retired Staff', 'Teacher Card',
       'At User Adult', 'At User Senior', 'At User Welcome',
       'At User Teen', 'Business', 'Library By Mail', 'At User Juvenile'],
      dtype=object)

In [222]:
df['Age Range'].unique()

array([nan, '45 to 54 years', '55 to 59 years', '60 to 64 years',
       '25 to 34 years', '35 to 44 years', '20 to 24 years',
       '75 years and over', '10 to 19 years', '0 to 9 years',
       '65 to 74 years'], dtype=object)

In [202]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [210]:
row_filter = df['Total Checkouts'] == 0, ["Patron Type Definition"]
df.loc[row_filter]

       Patron Type Definition
29                    Welcome
32                    Visitor
33        Digital Access Card
34        Digital Access Card
35        Digital Access Card
...                       ...
436278                Welcome
436279                Welcome
436280                  Adult
436282    Digital Access Card
436283    Digital Access Card

[140802 rows x 1 columns]

In [211]:
row_filter = (df['Patron Type Definition'] == 'Senior') & (df['Notice Preference Definition'] == 'Email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
43,3,Senior,1,0,75 years and over,x,Main,Aug,2019.0,z,Email,True,2019,False
51,3,Senior,28,7,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2014,False
59,3,Senior,0,0,75 years and over,a5,Anza,Jul,2023.0,z,Email,True,2023,False
65,3,Senior,0,0,75 years and over,m2,Marina,NaN,NaN,z,Email,True,2021,False
84,3,Senior,0,0,65 to 74 years,x,Main,Apr,2023.0,z,Email,True,2020,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436081,3,Senior,2750,1537,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436102,3,Senior,0,0,65 to 74 years,x,Main,Jan,2023.0,z,Email,True,2019,NaN
436138,3,Senior,0,0,65 to 74 years,x,Main,Jun,2023.0,z,Email,True,2012,NaN
436190,3,Senior,0,0,65 to 74 years,x,Main,Nov,2022.0,z,Email,True,2022,NaN
436223,3,Senior,0,0,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2019,NaN

In [215]:
row_filter = (df['Patron Type Definition'] == 'Welcome') & (df['Total Checkouts'] == 0)
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
29,4,Welcome,0,0,25 to 34 years,x,Main,Oct,2019.0,z,Email,True,2019,False
63,4,Welcome,0,0,45 to 54 years,x,Main,Apr,2022.0,z,Email,True,2021,False
66,4,Welcome,0,0,45 to 54 years,x,Main,Sep,2019.0,z,Email,True,2019,False
68,4,Welcome,0,0,35 to 44 years,o7,Ortega,Aug,2022.0,z,Email,True,2022,False
77,4,Welcome,0,0,25 to 34 years,e7,Eureka Valley,Jan,2021.0,NaN,NaN,False,2018,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436245,4,Welcome,0,0,20 to 24 years,x,Main,Aug,2021.0,NaN,NaN,False,2021,NaN
436261,4,Welcome,0,0,65 to 74 years,x,Main,NaN,NaN,NaN,NaN,False,2021,NaN
436266,4,Welcome,0,0,25 to 34 years,x,Main,Jul,2023.0,NaN,NaN,False,2018,NaN
436278,4,Welcome,0,0,25 to 34 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN
436279,4,Welcome,0,0,65 to 74 years,x,Main,Jul,2022.0,NaN,NaN,False,2022,NaN

In [223]:
kinder_unter_10 = (df['Patron Type Definition'] == 'Juvenile')
df.loc[kinder_unter_10]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
46,1,Juvenile,2,0,10 to 19 years,x,Main,Oct,2019.0,z,Email,True,2019,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436243,1,Juvenile,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

In [233]:
kinder_unter_10 = (df['Patron Type Definition'] == 'Juvenile') & (df['Age Range'] == '0 to 9 years')
df.loc[kinder_unter_10]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436151,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,NaN
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

In [239]:
# Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele EintrÃ¤ge erhÃ¤ltst Du?

print(len(df[df['Age Range'] == '0 to 9 years']))

32692

In [229]:
# Alternative
(df['Age Range'] == '0 to 9 years').sum()

32692

In [240]:
row_filter = df['Total Checkouts'] > 20000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
51592,3,Senior,22934,583,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
74783,3,Senior,21890,16,75 years and over,x,Main,Jan,2023.0,z,Email,True,2005,False
95369,3,Senior,20411,2606,65 to 74 years,x,Main,Aug,2019.0,NaN,NaN,False,2003,False
95967,3,Senior,20351,902,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2004,False
192830,0,Adult,23706,384,45 to 54 years,c2,Chinatown,Jul,2023.0,NaN,NaN,False,2003,False
198191,0,Adult,37249,628,55 to 59 years,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
278966,0,Adult,33122,57,25 to 34 years,s7,Sunset,Jul,2023.0,z,Email,True,2010,False
354659,0,Adult,22187,5706,55 to 59 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False

In [241]:
print(len(df[df['Total Checkouts'] > 20000]))

9

In [242]:
(df['Total Checkouts'] > 20000).sum()

9

In [243]:
print(len(df[df['Home Library Definition'] == 'Richmond']))

20656

In [247]:
# alternative
(df['Home Library Definition'] == 'Richmond').sum()

20656

In [ ]:
# Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

# HierfÃ¼r wird die in Aufgabe 2.5 neu definierte Variable 'Membership Duration' benÃ¶tigt. 
# Entweder rechnest Du mit der gleichen Datei wie aus Aufgabe 2.5 weiter, oder fÃ¼hrst die dortigen Schritte
# noch einmal durch

### erneute Berechnung von 'Membership Duration' ###
#df['Circulation Active Year'] = pd.to_numeric(
#    df['Circulation Active Year'], errors='coerce'
#)
#
#df['Circulation Active Month'] = pd.to_datetime(
#    df['Circulation Active Month'],
#    errors='coerce',
#    format="%b"
#)
#
#df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

#df['Membership Duration'] = (
#   df['Circulation Active Year'] - df['Year Patron Registered']
#)*12 + df['Circulation Active Month']
#df['Membership Duration'] = df['Membership Duration'].fillna(0)
####                                             ###

print(len(df[df['Membership Duration'] == 0])/len(df))

# alternative
(df['Membership Duration'] == 0).mean()

In [249]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage_Membership.csv",
                low_memory=False)

In [250]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [253]:
df['Age Range'].isna().sum()

912

In [254]:
len(df[(df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016)])

19