In [7]:
import pandas as pd

## **Series Objekte** ##

**Exemplos com listas []**

In [8]:
list_of_strings = ["valor 1", "Valor 2", "Valor 3", "Valor 4"]
list_of_integers = [23, 13, 67, 34]

In [10]:
series_of_strings = pd.Series(list_of_strings)

In [14]:
series_of_strings

0    valor 1
1    Valor 2
2    Valor 3
3    Valor 4
dtype: object

In [13]:
print(series_of_strings)

0    valor 1
1    Valor 2
2    Valor 3
3    Valor 4
dtype: object

In [15]:
labeled_series = pd.Series(list_of_integers, index= list_of_strings)

In [16]:
labeled_series

valor 1    23
Valor 2    13
Valor 3    67
Valor 4    34
dtype: int64

In [17]:
print(labeled_series)

valor 1    23
Valor 2    13
Valor 3    67
Valor 4    34
dtype: int64

**Exemplo com dictionaries {}**

In [23]:
vendedor = {"Dia 1": 120, "Dia 2": 330, "Dia 3": 250, "Dia 4": 270}

series_vendedor = pd.Series(vendedor)

print(series_vendedor)

Dia 1    120
Dia 2    330
Dia 3    250
Dia 4    270
dtype: int64

In [24]:
series_vendedor["Dia 4"]

270

In [25]:
series_vendedor[3]

270

In [26]:
series_vendedor.to_list()

[120, 330, 250, 270]

## **Json-Datei** ##

In [28]:
# Einlesen einer JSON Datei
df_nyt = pd.read_json("data/nyt_bestseller.json")
df_nyt

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'$oid': '5b4aa4ead3089013507db18b'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},Bantam,ODD HOURS,{'$numberInt': '1'},{'$numberInt': '0'},{'$numberInt': '1'}
1,{'$oid': '5b4aa4ead3089013507db18c'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,{'$numberInt': '2'},{'$numberInt': '1'},{'$numberInt': '3'}
2,{'$oid': '5b4aa4ead3089013507db18d'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'$numberInt': '3'},{'$numberInt': '2'},{'$numberInt': '2'}
3,{'$oid': '5b4aa4ead3089013507db18e'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},Putnam,THE FRONT,{'$numberInt': '4'},{'$numberInt': '0'},{'$numberInt': '1'}
4,{'$oid': '5b4aa4ead3089013507db18f'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},Doubleday,SNUFF,{'$numberInt': '5'},{'$numberInt': '0'},{'$numberInt': '1'}
...,...,...,...,...,...,...,...,...,...,...,...,...
95,{'$oid': '5b4aa4ead3089013507db1ea'},{'$date': {'$numberLong': '1214006400000'}},{'$date': {'$numberLong': '1215302400000'}},http://www.amazon.com/Blood-Anita-Blake-Vampir...,Laurell K Hamilton,The vampire hunter Anita Blake is involved in ...,{'$numberDouble': '25.95'},Berkley,BLOOD NOIR,{'$numberInt': '16'},{'$numberInt': '12'},{'$numberInt': '4'}
96,{'$oid': '5b4aa4ead3089013507db1eb'},{'$date': {'$numberLong': '1214006400000'}},{'$date': {'$numberLong': '1215302400000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberInt': '0'},Doubleday,SNUFF,{'$numberInt': '17'},{'$numberInt': '0'},{'$numberInt': '0'}
97,{'$oid': '5b4aa4ead3089013507db1ec'},{'$date': {'$numberLong': '1214006400000'}},{'$date': {'$numberLong': '1215302400000'}},http://www.amazon.com/Death-Honor-Bound-Book/d...,W E B Griffin and William E Butterworth IV,A Marine pilot spies in Argentina in 1943; th...,{'$numberInt': '0'},Putnam,DEATH AND HONOR,{'$numberInt': '18'},{'$numberInt': '0'},{'$numberInt': '0'}
98,{'$oid': '5b4aa4ead3089013507db1ed'},{'$date': {'$numberLong': '1214006400000'}},{'$date': {'$numberLong': '1215302400000'}},http://www.amazon.com/The-Spies-Warsaw-A-Novel...,Alan Furst,Intrigue in Poland just before World War II.,{'$numberInt': '0'},Random House,THE SPIES OF WARSAW,{'$numberInt': '19'},{'$numberInt': '0'},{'$numberInt': '0'}
99,{'$oid': '5b4aa4ead3089013507db1ee'},{'$date': {'$numberLong': '1214006400000'}},{'$date': {'$numberLong': '1215302400000'}},http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,The Minneapolis detective Lucas Davenport inve...,{'$numberInt': '0'},Putnam,PHANTOM PREY,{'$numberInt': '20'},{'$numberInt': '0'},{'$numberInt': '0'}

In [30]:
df_nyt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 100 non-null    object
 1   bestsellers_date    100 non-null    object
 2   published_date      100 non-null    object
 3   amazon_product_url  100 non-null    object
 4   author              100 non-null    object
 5   description         100 non-null    object
 6   price               100 non-null    object
 7   publisher           100 non-null    object
 8   title               100 non-null    object
 9   rank                100 non-null    object
 10  rank_last_week      100 non-null    object
 11  weeks_on_list       100 non-null    object
dtypes: object(12)
memory usage: 9.5+ KB

In [31]:
df_nyt.bestsellers_date[3]

{'$date': {'$numberLong': '1211587200000'}}

In [33]:
type(df_nyt.bestsellers_date[3])

dict